@charset "utf-8";
$radius: 20px;
$darkgrey: #444;
$purple: #6E398D;
$green: #9BCE84;
$white : #f8f8f8;

@mixin txtFrontendPosition(){
    position: absolute;
    top: calc(50% - 13vw);
    right: 0;
    left: 0;
    white-space : nowrap;
}
@mixin txtMyNamePosition(){
    position: absolute;
    bottom: calc(50% - 13vw);
    right: 0;
    left: 0;
    white-space : nowrap;
}

.Main{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    margin: 0 auto 40px;
    z-index: 10;
    .main_wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        min-height: 650px;
        transform: translate(-50%, -50%);
        .txt{
            font-size: 10vw;
            font-weight: 700;
            line-height: 1em;
            text-align: center;
            .frontend{
                color: $purple;
                -webkit-text-stroke: 0.02em $purple;
                @include txtFrontendPosition();
            }
            .myName{
                color: $green;
                -webkit-text-stroke: 0.02em $green;
                @include txtMyNamePosition();
            }
        }
        .circle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 50vw;
            margin: 0 auto;
            background-color: $white;
            border-radius: 50%;
            text-indent: -999999px;
        }
        .txt.back{
            .frontend{
                z-index: -1;
            }
            .myName{
                z-index: -1;
            }
        }
        .txt.front{
            .frontend{
                color: transparent;
            }
            .myName{
                color: transparent;
            }
        }
    }
}

/* 1024px 시작 (태블릿) */
@media screen and (min-width:1024px){
    .Main{
        max-width: 1024px;
        .main_wrap{
            margin: 0 auto;
            .txt{
                font-size: 100px;
                text-align: center;
                .frontend{
                    top: 200px;
                }
                .myName{
                    bottom: 200px;
                }
            }
            .circle{
                width: 500px;
                height: 500px;
            }
        }
    }
}

