@charset "utf-8";

@mixin flex($direction: 0){
    display: flex;
    align-items: center;
    justify-content: center;
    @if $direction != 0 {
        flex-direction: $direction;
    }
}

@mixin position($posi: absolute, $top: -1, $bottom: -1, $right: -1, $left: -1){
    position: $posi;
    @if $top != -1 {
        top: $top;
    }
    @if $bottom != -1 {
        bottom: $bottom;
    }
    @if $right != -1 {
        right: $right;
    }
    @if $left != -1 {
        left: $left;
    }
}

@mixin max_size($width:"500px", $height:"500px"){
    max-width: $width;
    max-height: $height;
}

@mixin underline($w:100%){
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 0;
    width: $w;
    height: 2px;
    background-color: var(--sub);
}

@mixin iconBorder(){
    border: 1px solid var(--font);
    border-radius: 50%;
}

@mixin icon768($padd: "10px"){
    padding: $padd;
    margin-bottom: 5px;
    background-color: #fff;
    border-color: #fff;
}

@mixin icon1024Hover(){
    background-color: #1b1d20;
    border-color: #1b1d20;
    transition: .3s;
}

@mixin listDot(){
    content: "";
    display: inline-block;
    @include position($posi:absolute, $top:10px, $left:10px);
    width: 3px;
    height: 3px;
    background-color: var(--font);
    border-radius: 50%;
}