@charset "utf-8";

$radius: 20px;
$darkgrey: #444;
$purple: #6E398D;
$green: #9BCE84;
$white : #f8f8f8;

@mixin btntheme($bgColor: $white, $fontColor: $darkgrey) {
    background-color: $bgColor;
    color: $fontColor;
}

.MySkills {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    margin-bottom: 40px;
    z-index: 10;
    .mySkills_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 40px);
        min-height: 650px;
        padding: 20px;
        box-sizing: border-box;
        .btn_box {
            display: flex;
            justify-content: center;
            align-items: center;
            .Button {
                margin: 0 10px;
                .btn {
                    @include btntheme();
                    padding: 0 10px;
                    border-radius: 20px;
                    font-size: 4vw;
                    line-height: 2em;
                }
                .btn.select {
                    @include btntheme($bgColor: $green, $fontColor: $purple)
                }
            }
        }
    }
}

/* 600px 시작 (태블릿) */
@media screen and (min-width:600px) {
    .MySkills {
        .mySkills_wrap {
            .btn_box {
                .Button {
                    .btn {
                        font-size: 3.2vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .MySkills {
        .mySkills_wrap {
            .btn_box {
                .Button {
                    .btn {
                        font-size: 2.8vw;
                    }
                }
            }
        }
    }
}