@charset "utf-8";

@use "../app.scss";
@use "../mixin.scss";

@keyframes blink {
    40% {
      opacity:.5;
    }
    80% {
      opacity: 1;
    }
}

@keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
}
.Project{
  color: var(--font);
  .pjBorder{
      position: relative;
      overflow: hidden;
      height: 200px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(131, 131, 131, 0.3);
  
      &::before {
        content: "";
        @include mixin.position($posi: absolute, $top: -50%, $left: -50%);
        width: 200%;
        height: 200%;
        background: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
        animation: rotate 4s linear infinite;
      }
  
      .pjInner{
          @include mixin.position($posi: absolute, $top: 4px, $bottom: 4px, $left: 4px, $right: 4px);
          background: var(--main);
          z-index: 10;
      }
  }
}

