@charset "utf-8";

@use "../mixin.scss";

.Home{
    .scrollTop{
        @include mixin.flex($direction: column);
        @include mixin.position($posi: fixed, $bottom: 20px, $right: 20px);
        min-height: 50px;
        padding: 0;
        cursor: pointer;
        z-index: 30;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        &::before{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 18px solid var(--font);
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
        }
        p{
            font-size: 14px;
            line-height: 2em;
            letter-spacing: 1px;
        }
    }
    .scrollTop.show{
        opacity: 1;
    }
};

@media screen and (min-width: 1470px){
    .Home{
        .scrollTop{
            right: 50%;
            margin-right: -700px;
        }
    }
}; 